
body{
        
/*font-family: 'PT Serif', serif;*/
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%}
.col-4 {width: 33.33%; }
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}


.main-header{
    position: relative;
    line-height: 0;
    
}

#header-550{
    display: none;
}
.header-bacckground-img img{
    
    width:100%;
    height: auto;
}


.header-container {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}


.row-nav{
    padding: 36px 0;
    width: 100%;
}

.nav-dropdown{
    display: none;
}

nav {
    padding-right: 15%;
}
nav ul {
   list-style-type: none;
     float: right;
}
nav ul li{
    display: inline-block;
    padding: 0 15px;
   
}


.nav-link{
    font-family: 'PT Serif', serif;
    color: #fff;
     font-size: 0.85rem;
    line-height: 3rem;
    text-decoration: none;
}

.nav-logo img{
    padding-left: 10%;
   margin: auto;
}

.col-header-text{
    padding: 15% 10%;
}

.row-header-text h1{
    font-size: 2.8rem;
    line-height: 3.25rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.row-header-text p{
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    letter-spacing: 0.5px;
}

.top-shape{
    width:100%;
    height:auto;
}

.nav-item{
    transition: all 0.1s;
}

.nav-item:hover{
        transform: translateY(-8px);
}
/*
.dropdown-menu{
        background-color: #070a04;
        opacity: 0.7;
               
        border: none;
    }
    
    .dropdown-item{
        text-align: left;
        
        font-family: 'PT Serif', serif;
    color: #fff;
     font-size: 0.85rem;
    line-height: 1.5rem;
        
    }




@media (max-width:1000px){
    
    .col-header-text{
    padding: 8% 0;
    }
    .row-header-text h1{
    font-size: 2rem;
    line-height: 2.5rem;
    
    }

.row-header-text p{
    font-size: 0.9rem;
    
    }
}
    
@media (max-width:768px){
    .nav-logo img{
        display: none;
    }
    .dropdown{
    display: block;
     
    }
    
    .nav-lg{
        display: none;
    }
    
}
    
    
  
/*############# SECTION 1 ##############*/

  



.intro-yoga-right{
    padding-left:13%;
}
.intro-yoga-left{
    padding-right:13%;
}

.intro-yoga img{
    width: 100%;
    height: auto;
    }

.intro-yoga h2{
    font-weight: bold;
    color:#333333;
    font-size: 1.88rem;
    margin: 50px 0;
}

.text-number-big{
    font-family: 'PT Serif', serif;
    font-size: 4rem;
    line-height: 1.75rem;
    font-weight: bold;
    color: #e1e1e1;
}

.text-green{
    color: #66a900;
}

.intro-yoga p{
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    color: #aeaeae ;
    line-height: 1.5rem;
}



.intro-yoga ol {
      counter-reset: item; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font-weight: bold;
    color: #999999;
    font-size: 1rem;
    line-height: 2.5rem;
}




.intro-yoga ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
 
}

.intro-yoga ol > li:before {
display: inline-block;
 
    line-height: 30px;
  display: inline-block;
    margin-right: 1em;
   padding-left:32px;
    font-size: 0.7em;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
  text-align: center;
  content: counter(item) ".";
       background-color: #66a900;
    border-radius: 50%;
    border: 2px #fff solid;
    
    -webkit-box-shadow: 0px 0px 0px 1px rgba(102,169,0,1);
-moz-box-shadow: 0px 0px 0px 1px rgba(102,169,0,1);
box-shadow: 0px 0px 0px 1px rgba(102,169,0,1);
    color: #fff;
    
}

.section-bottom{
    position: relative;
}

.section-bottom-text{
    position: absolute;
    bottom:8%;
    left:5%;
    padding-top:5%

}

.section-bottom-img img{
    width: 100%;
    height: auto;
}
.section-bottom h3{
    font-size: 1.8rem;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #fff;
    margin:0;
}

.section-bottom p{
    font-size: 0.8rem;
    color: #fff;
}


   

.btn-register{
     font-size: 1.2rem;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    background-color: #fff;
    
      margin-top:5%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px #fff solid;
    line-height: 2rem;
    padding: 0 10px;
   
    
    
}
.btn-register a{
    color:#66a900;
    
}

.btn-register a:hover{
    cursor: pointer;
    color:#19230b;
}

/* #########  SECTION 2 #########*/


.why-us-row{
    margin-bottom: 5%;
}
.why-us-check-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.2rem;
}
.why-us-check-text{
    font-family: 'PT Serif', serif;
   
    font-size: 0.8rem;
    color: #b3b3b3;
    line-height: 1rem;
    margin-left: 1.5rem
}
.why-us-check-header i{
    color:#66a900;
    margin-right: 0.5rem;
}

/* ------  SLIDER CLIENTS -------*/
/*

.carousels-col{
    position: relative;
    max-width:760px;
}
.carousel-left img{
    padding-right: 10%;
    opacity: 0.2;
    
}
.carousel-right img{
     padding-right: 10%;
    opacity: 0.2;
}
.carousel-center{
    position: absolute;
    top:20px;
    margin-left: 25%;
}
.fa-nav{
    font-size: 1.5rem;
    color: #fff;
    padding: 0.45rem 0.8rem;
 }
.nav-carousel{
    background-color: #333333;
    border-radius: 50%;
     -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
 }

.carousel-control-next{
    opacity: 1;
}

.carousel-control-prev{
    opacity: 1;
}

.carousel-control-next:hover .nav-carousel{
    background-color: #66a900;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
    color: #fff;
}
    
.carousel-control-prev:hover .nav-carousel{
    background-color: #66a900;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
    color: #fff;
}
*/
/* -------------*/

.row-prices{
    position: relative;
}

.row-abs{
    position: absolute;
    top:0;
    left: 0; 
}
.row-rel{
    z-index:-10;
    position: relative;
    margin-top: 15%;
    line-height: 0;
    
}
.col-prices{
    margin:0 4%;
}

.prices-content{
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.col-prices-content{
    text-align: center;
  padding-bottom: 85px;
    -webkit-box-shadow: 0px 0px 48px -2px rgba(176,181,175,0.26);
-moz-box-shadow: 0px 0px 48px -2px rgba(176,181,175,0.26);
box-shadow: 0px 0px 48px -2px rgba(176,181,175,0.26);
    background-color: #fff;
    

}

.prices-img{
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left:0;
    text-align: center;
    line-height: 0;
  
      
}

.prices-img img{
    width: 95%;
    height: auto;
    margin: 0 auto;

}



.col-prices-content h4{
    line-height: 2.5rem ;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
    padding-top: 2rem;
}

.col-prices-content p{
font-family: 'PT Serif', serif;
font-size: 0.8rem;
 line-height: 1rem ; 
    color: #cbcbcb;
    padding: 0 1rem;
    

}

.btn-prices{
    background-color: #f6f6f6;
    
    border-right: 2px #66a900 solid;
    border-left: 2px #66a900 solid;
    border-top: none;
    border-bottom: none;
    
    border-radius: 5px;
    line-height: 2rem;
    margin: 1rem 0 2rem 0;
    width:100%;
    letter-spacing: 2px;
    
}

.btn-prices a{
    color: #aaaaaa;
    text-decoration: none;
      font-size: 0.8rem;
    font-weight: bold;
    
}

.btn-prices:hover {
    cursor: pointer;
    background-color: #66a900;
    color: #fff;
}




.order-link{
    font-size: 0.8rem;
    font-weight: bold;
    color: #333333;
    letter-spacing: 1px;
    
}

.order-link:hover {
cursor: pointer;
color: #66a900;

}


.prices-content-bottom{
  background-color:#66a900; 
    padding-bottom: 2%;
    padding-left: 5%;    
}

.bottom-shape img{
    width: 100%;
height: auto;
}

/*######## FOOTER #########*/

.row-footer{
    font-size: 0.8rem;
    color: #9e9e9e;
    font-family: 'PT Serif', serif;
    padding: 3% 0;
}

.col-footer{
    text-align: center;
}

s
    
    
}
.col-footer p{
    
    margin: auto 0;
}

.col-footer ul {
    list-style-type: none;
  
}
.col-footer ul li{
    display: inline-block;
    padding: 0 20px;   
margin: auto

   
}

.col-footer ul li a{ 
    color: #9e9e9e;
    text-decoration: none;
}

.col-footer ul li a:hover{
    text-decoration: underline;
    
}

/***************MEDIA***************/


@media (max-width:1200px){
    
    .col-header-text {
    padding: 5% 10%;
    }
    
}
@media (max-width:1000px){
    .row-header-text h1 {
    font-size: 2rem;
    }
    .section-bottom h3 {
    font-size: 1.2rem;
    }
    .section-bottom p {
    font-size: 0.5rem;
    }
    .row-abs{
        position: static;
    }
    .row-rel{
        position: static;
        
        
    }
    .prices-content .col-3{
        width:60%;
        margin: 0 auto;
        position: static;

    }
    
    .row-footer{
    font-size: 0.6rem;
}

    @media (max-width:850px){
        .row-nav{
            padding:0;
        }
        .col-header-text{
            padding: 0 10%;
        }
        .row-header-text h1 {
    font-size: 1.5rem;
            line-height:2rem;
    }
        .row-header-text p{
            font-size: 0.8rem;
        }
        
        .nav-item{
            display: none;
        }
        .nav-dropdown{
            display: block;
        }
        .nav-logo{
            display:none;
            
        }
        .dropdown-menu{
            display: none;
        }
        .col-850-12{
            width: 100%;
        }
        .col-850-0{
            display: none;
        }
        nav ul {
            float: left}
        nav{
            padding: 0 0 0 5%;
        }
    }
    
    
     @media (max-width:650px){
         
         .row-header-text h1 {
             display: none;
         }
         .col-550-12{
             width:100%;
         }
         .col-550-0{
             display:none;
         }
         .row-header-text p{
            display: none;
        }
         .section-bottom {
    position: static;
             text-align: center;
         }
         .section-bottom-text{
             position: static;
             background-color: #66a900;
             text-align: center;
             padding-bottom: 50px;
         }
         
         .intro-yoga{
             text-align: center;
         }
         .intro-yoga-right{
             padding: 0;
         }
         .intro-yoga-left{
             padding: 0;
         }
    }